body{
  background-color: black;
  color:purple;
}

.links{
  background-color: gold;
}

.joseph{
  color:darkcyan;
}

.jotaro{
  color: crimson;
}

.gorino{
  color: gold;
}

.soundtracks{
  background-color: orange;
}

.subVdub{
  color: cyan;
}

.dub{
  background-color: lightgreen;
}

.sub{
  background-color: crimson;
}

.memes{
  color: lime;
}
